<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header>
        <h1>Личный кабинет </h1>
    </header>
    {% if current_user.is_authenticated %}
    <h1>You are logged in {{current_user.email}}</h1>
    {% else %}
    <h1>You are not logged in</h1>
    {% endif %}
<form action="/logout" method="post">
<button type="submit" class="logout-button">Выйти</button>
</form>
</body>
</html>
