<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header>
        <h1>Личный кабинет</h1>
    </header>
    <div class="container">
        <p>Добро пожаловать в ваш личный кабинет!</p>
        <p>Ваш адрес электронной почты: {{User.email}}</p>
        <p>Ваш город: {{User.city}}</p>
    </div>
<form action="/logout" method="post">
<button type="submit" class="logout-button">Выйти</button>
</form>
</body>
</html>
